@import "../../../static/styles/sizes";
@import "../../../static/styles/colours";

.AppChooser {
    margin: auto 8px;
    padding: 2px;
    border-radius: $button-border-radius;
    background-color: map-get($palette, light);
    outline: none;
}