@import "../../../../static/styles/colours";

blockquote.Excerpt {
    padding: 8px;
    background-color: darken(map-get($palette, light), 7%);
    max-height: 60vh;
    overflow-y: hidden;
}

.Dissolving {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        top: 75%;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(transparent, map-get($palette, light));
    }
}