@import '../../static/styles/sizes';

.Toolbar {
    display: none;
}

@media (min-width: $mobile-max-width) {
    .Toolbar {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: $toolbar-height;
        width: 100%;
    }
}

.Breadcrumb {
    position: fixed;
    top: 0;
    width: 100%;
    height: $breadcrumb-height;

    background-color: burlywood;
    // border: 1px solid black;
}

@media (min-width: $mobile-max-width) {
    .Breadcrumb {
        top: $toolbar-height;
    }
}

.Footer {
    position: fixed;
    bottom: 0;
    height: $footnote-height;
    width: 100vw;

    background-color: beige;
    border: 1px solid black;
}

$content-top-margin: $breadcrumb-height;
$content-bottom-margin: $footnote-height;
.Content {
    margin-top: $content-top-margin;
    margin-bottom: $content-bottom-margin;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}

@media (min-width: $mobile-max-width) {
    $content-top-margin: calc(#{$toolbar-height} + #{$breadcrumb-height});
    .Content {
        margin-top: $content-top-margin;
    }
}

$sidebar-height: calc(85vh - #{$footnote-height});
.Sidebar {
    position: fixed;
    top: $breadcrumb-height;
    left: 0;
    bottom: $footnote-height;
    width: 50vw;
    background-color: transparent;
    transition: left 0s;
    transition-delay: 0s;

    &--hidden {
        left: -100vw;
        transition-delay: 0.5s;
    }
}

@media (min-width: $mobile-max-width) {
    .Sidebar {
        display: none;
    }
}
