@import '../../static/styles/sizes';

.Toolbar {
    display: none;
}

@media (min-width: $mobile-max-width) {
    .Toolbar {
        display: block;
        position: fixed;
        height: $toolbar-height;
        width: 100vw;
    }
}

.Breadcrumb {
    position: fixed;
    top: 0;
    width: 100vw;
    height: $breadcrumb-height;

    background-color: burlywood;
    border: 1px solid black;
}

@media (min-width: $mobile-max-width) {
    .Breadcrumb {
        top: $toolbar-height;
    }
}

.Footer {
    position: fixed;
    bottom: 0;
    height: $footnote-height;
    width: 100vw;

    background-color: beige;
    border: 1px solid black;
}

$content-top-margin: $breadcrumb-height;
$content-height: calc(100vh - #{$content-top-margin} - #{$footnote-height});
.Content {
    position: fixed;
    top: $content-top-margin;
    width: 100vw;
    height: $content-height;
    padding: 8px 16px;
    padding-left: 130px;

    border: 1px solid red;
}

@media (min-width: $mobile-max-width) {
    $content-top-margin: calc(#{$toolbar-height} + #{$breadcrumb-height});
    .Content {
        top: $content-top-margin;
    }
}

.Sidebar {
    position: fixed;
    top: $content-top-margin;
    width: 80vw;
    height: $content-height;
    background-color: transparent;
}

@media (min-width: $mobile-max-width) {
    .Sidebar {
        display: none;
    }
}
