@import "../../../static/styles/colours";
@import "../../../static/styles/sizes";
@import "../../UI/ListView/sizes";

$wrapper-min-width: $list_view_min_width;
$wrapper-margin-left: calc((100vw - #{$wrapper-min-width}) / 2);
.QuizRecordListWrapper {
    margin: 0 auto 0 $wrapper-margin-left;

    transition: margin-left 1s ease;
}

.Active {
    margin-left: -100%;
    margin-right: calc(100% - #{$wrapper-min-width});
}

@media (min-width: $mobile-max-width) {
    .Active {
        margin-left: 0;
        margin-right: 10%;
    }
}
