@import "../../../static/styles/colours";
@import "../../../static/styles/sizes";


$wrapper-min-width: 160px;
$wrapper-margin-left: calc((100vw - #{$wrapper-min-width}) / 2);
.WordsListWrapper {
    padding: 0;
    margin: 8px auto 0 $wrapper-margin-left;
    width: fit-content;
    min-width: $wrapper-min-width;
    max-width: 50%;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;

    border: 1px solid darken(map-get($palette, light), 5%);
    border-radius: $button-border-radius;

    display: flex;
    flex-direction: column;

    transition: margin-left 1s ease;

    li {
        list-style: none;
        padding: 4px 8px;
        border: 1px solid transparent;

        &:nth-child(even) {
            background-color: map-get($palette, light);
        }

        &.SelectedWord {
            outline: 1px auto map-get($palette, url);
        }
    }
}

.Active {
    margin-left: -100%;
    margin-right: calc(100% - #{$wrapper-min-width});
}

@media (min-width: $mobile-max-width) {
    .Active {
        margin-left: 0;
        margin-right: 10%;
    }
}