@import "../../../static/styles/colours";

.Sidebar {
    width: 100%;
    height: 100%;

    ul {
        background-color: map-get($palette, lighter-primary);
        border-top-right-radius: 8px;;
        border-bottom-right-radius: 8px;;
        margin: 0;
        padding: 8px 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            height: fit-content;
            margin: 8px 0 8px 8px;

            &[data-nav-type="vertical-rule"] {
                display: none;
            }

            &:last-child {
                margin-top: auto;
                margin-bottom: 0;
            }
        }
    }
}

.HamburgerButton {
    position: absolute;
    margin-top: calc(0.25 * 1rem);
    margin-left: calc(0.1 * 1rem);
    z-index: 50;
    top: 0;
    left: 0;
}

@mixin hidden-and-shown-base($translation) {
    transform: translateX($translation);
    height: 100%;
    transition: transform 0.5s ease-out;
}

.hidden {
    @include hidden-and-shown-base(-105%);
}

.shown {
    @include hidden-and-shown-base(0);
}
