@import "../../../../../../static/styles/sizes";
@import "../../../../../../static/styles/colours";

.OnHoverEditable {
    position: relative;
    transition: background-color linear 0.3s;
    width: fit-content;

    &:hover {
        background-color: rgba(223, 221, 221, 0.728);
    }
}

.StaticEditable {
    padding: 4px;
    border: 1px solid transparent;
    border-radius: $panel-border-radius;

    &:hover {
        border-color: map-get($palette, lighter-primary);
    }
}

.ButtonBox {
    position: fixed;
    z-index: 10;
    
    button {
        margin: 4px;
    }
}
