@import "../../../../static/styles/sizes";

$size: calc(0.8 * #{$toolbar-height});
.Logo {
    height: $size;
    width: $size;
    background-image: url('../../../../media/images/alphabet-book-svgrepo-com.svg');
    margin: 0 10px;
}