@import "../../../../../static/styles/sizes";
@import "../../../../../static/styles/colours";

.LoginButton button {
    width: 70px;
    height: 25px;
    border: 1px solid black;
    border-radius: $button-border-radius;
    background-color: map-get($palette, light);
    outline: none;
}