@import "../../../static/styles/sizes";
@import "../../../static/styles/colours";

.LoginButton {
    margin-left: auto;
    margin-right: 8px;
    
    button {
        width: 70px;
        height: 25px;
        border: 1px solid black;
        border-radius: $button-border-radius;
        background-color: map-get($palette, light);
        outline: none;
    }
}