@import "../../../static/styles/colours";
@import "../../../static/styles/sizes";

@mixin button($background-color) {
    background-color: $background-color;
    border-radius: $button-border-radius;
    font-weight: bold;
}

.Button:disabled {
    position: relative;
    cursor: not-allowed;
    
    $overlay: -2px;
    &::after {
        content: '';
        position: absolute;
        top: $overlay;
        left: $overlay;
        bottom: $overlay;
        right: $overlay;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: $button-border-radius;
    }
}

.Confirm {
    @include button(map-get($palette, lighter-primary));
}

.Cancel {
    @include button(map-get($palette, lighter-secondary));
}

.Medium {
    height: 30px;
}
