@import "../../../static/styles/colours";
@import "../../../static/styles/sizes";

.Fields {
    width: fit-content;
    border: 2px solid map-get($palette, dark-primary);
    border-radius: $panel-border-radius;
    margin-bottom: 8px;

    legend {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.FieldsWrapper {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;

    label {
        font-weight: 550;
    }

    input, select {
        min-width: 150px;
        height: 1.5rem;
    }
}

.DefaultFieldsWrapper {
    width: fit-content;
    margin-left: 16px;
    margin-bottom: 8px;
}
